/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/

div.setting.container.radio-buttons {
    display: inline-block;
    width: 120px;
}

label.setting.label.radio-buttons {
    display: block;
}

.color_swatch {
    display: inline-block;
    width: 60px;
    padding: 2px;
    cursor: pointer;
}

.red.color_swatch {
    color: white;
    background-color: red;
    font-weight: bold;
}

.yellow.color_swatch {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

.blue.color_swatch {
    color: white;
    background-color: blue;
    font-weight: bold;
}

.green.color_swatch {
    color: white;
    background-color: green;
    font-weight: bold;
}

.orange.color_swatch {
    color: black;
    background-color: orange;
    font-weight: bold;
}
