/**
 * Place your custom CSS styles here.
 **/

.pagegrep {
    display: inline-block;
    font-weight: bold;
    border: 1px solid #666;
}

.pagegrep.red {
    color: white;
    background-color: red;
}

.pagegrep.yellow {
    color: black;
    background-color: yellow;
}

.pagegrep.blue {
    color: white;
    background-color: blue;
}

.pagegrep.green {
    color: white;
    background-color: green;
}

.pagegrep.orange {
    color: black;
    background-color: orange;
}
